.searchbar {
    position: relative;
    width: 100%;
    max-width: 570px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    top: 18px;
    height: 50px;
    left: 17px;
 }
    input {
      border: 1px solid #FFFFFF;
      outline: none;
      border-radius: 5px;
      padding: 10px 40px 10px 10px;
      width: calc(100% - 50px);
      font-size: 1rem;
    }
    input::placeholder{
        position: relative;
        left: 30px;
        
    }
    .legenda {
        color: #fff;
    }
    .iconoSearch {
    position: absolute;
    top: 11px;
    left: 13px;
    cursor: pointer;
    }

    .textoBusqueda{
    font-family: 'Lato';
    font-size: 36px;
    font-weight: 700;
    color: #353535;
    margin: 0;
    margin-top: 40px;

    }

    .subTextoBusqueda{
        font-family: 'Lato';
      font-size: 20px;
      font-weight: 500;
      color: #5e5e5e;
    }

    @media screen and (max-width: 767px) {
      .searchbar {
        position: relative;
        width: 100%;
        max-width: 313px;
        padding-bottom: 20px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        top: 18px;
        height: 50px;
        left: 0px;
     }
        input {
          border: 1px solid #FFFFFF;
          outline: none;
          border-radius: 5px;
          padding: 10px 40px 10px 10px;
          width: calc(100% - 50px);
          font-size: 1rem;
        }
        input::placeholder{
            position: relative;
            left: 30px;
            
        }
        .legenda {
            color: #fff;
        }
        .iconoSearch {
        position: absolute;
        top: 11px;
        left: 13px;
        cursor: pointer;
        }
    
        .textoBusqueda{
        font-family: 'Lato';
        font-size: 36px;
        font-weight: 700;
        color: #353535;
        margin: 0;
        margin-top: 40px;
        font-family: 'Lato', sans-serif;
    
        }
    
        .subTextoBusqueda{
            font-family: 'Lato';
          font-size: 20px;
          font-weight: 500;
          color: #5e5e5e;
          font-family: 'Lato', sans-serif;
        }
    }